.div_centrado {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  .padding_t_lg{
  padding-top: 150px;
  }
  .padding_md{
    padding: 40px;
  }
.t_center {
  text-align: center;
}
.margin_b_sm{
  margin-bottom: 30px;
}
.margin_t_sm{
	margin-top: 30px;
}
.margin_bottomMD {
  margin-top: 30px;
  margin-bottom: 30px;
}
.display_inline_f {
  display: inline-flex;
}
.display_f {
  display: flex;
}
.align_items_c{
  align-items: center;
}
.jcc {
  justify-content: center;
}
.margin_left_sm{
  margin-left: 50px;
}
.padding_BT_md{
  padding-top: 40px;
  padding-bottom: 40px;
}
.padding_T_md{
  padding-top: 40px;
}
.padding_B_md{
  padding-bottom: 40px;
}
.anchura_media{
  width: 50%;
}
.back_transparente{
  background-color: #051c844a;
}